<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Placeholder</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>

    <div>
      {% block nav %}
      <div class="nav">
        <h1>Header</h1>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'photo' %}">Photography</a></li>
          <li><a href="{% url 'writing' %}">Writing</a></li>
        </ul>
      </div>
      {% endblock %}
    </div>

      {% block content %}
      {% endblock %}

  </body>
</html>